# Bundler cache
.bundle/
vendor/
Gemfile.lock

# Jekyll cache & build
.jekyll-cache/
.jekyll-metadata
# Esto ignora CUALQUIER carpeta _site, esté donde esté
**/_site/

# RubyGems
*.gem

# NPM dependencies
node_modules/
package-lock.json

# IDE configurations
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json

# Windows Metadata (IMPORTANTE para tu entorno)
*:Zone.Identifier
.DS_Store

# Misc
_sass/vendors/
assets/js/dist/
